.form {
  height: 400px;
  width: 350px;
  border: 2px solid black;
  background-color: rgba(50, 95, 219, 0.452);
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.block {
  margin-top: 20px;
  margin-left: 20px;
}
.btn {
  margin-left: 38%;
  width: 80px;
  height: 20px;
  background-color: rgb(143, 120, 120);
  border-radius: 10px;
}

.label {
  margin-top: 10px;
}
/* *************************************************************************************************** */

/* *************************************************************************************************** */
