.column {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 20px;
}

.string{
  border: 1px solid blue;
  width: 16.6%;
}

span {
  color: rgb(8, 114, 114);
  font-size: 25px;
}