.column {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 20px;
}

.string{
  border: 1px solid blue;
  /* border: 1px solid rgb(128, 128, 128); */
  width: 16.6%;
}

span {
  color: rgb(8, 114, 114);
  font-size: 25px;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 171, 212);
  border-radius: 10px;
}

.sub:before {
  color: gray;
  content: '\1F50D';
}



