.toggle {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 20px;
  background-color: rgb(231, 16, 185);
  border-radius: 30px;
  border: 2px solid gray;
}

.toggle:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  top: 0px;
  left: 1px;
  transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
  left: 49px;
}

.checkbox:checked + .toggle {
  background-color: rgb(20, 33, 204);
}

.checkbox {
  display: none;
}

/* ******************** */
